/* .welcome {
    background: url(../images/background/backgroundCanyon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.welcome--text{
    background-color: var(--darkNavyTransparent);
    padding: 35px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.welcome--img {
    width: 500px;
    height: 500px;
} */