:root {
    --darkGreen:#27360A;
    --cream:#D7D6D6;
    --goldGreen:#7A765C;
    --darkNavy:#2C3D55;
    --darkGreenTransparent:rgba(39, 54, 10, 0.9);
    --darkNavyTransparent:rgba(44, 61, 85, 0.9);
    /* font-size: 0.625em; */
}

* {
    box-sizing: border-box;
    margin: 0 auto;
}

/* 
h1 {
    font-family: 'Vollkorn', serif;
    font-size: 4.8rem;
}

h2 {
    font-family: 'Vollkorn', serif;
    font-size: 3.2rem;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
}

.page {
    padding: 35px;
} */